<?xml version="1.0"?>
<robot name="alice_xacro_desc" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Importando os arquivos -->
  <!-- <xacro:include filename="leg.xacro" />
  <xacro:include filename="arm.xacro" />
  <xacro:include filename="head.xacro" /> -->

  <xacro:include filename="up_act_segment.xacro" />

  <link name="base_footprint"/>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.7" rpy="0 0 0" /> 
  </joint>

  <!-- Base do Robô -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh
          filename="package://alice_xacro_desc/meshes/chest.stl" />
      </geometry>
    </visual>
    <inertial>
      <mass value="1.0" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>

  <!-- Instanciando a Perna Esquerda -->
  <xacro:up_actuator_segment prefix="l_l" parent="base_link">
    <origin xyz="0 -0.15 -0.25" rpy="0 0 0" />
  </xacro:up_actuator_segment>

  <!-- Instanciando a Perna Esquerda -->
  <!-- <xacro:up_actuator_segment prefix="left" parent="base_link">
    <origin xyz="0 0.15 -0.25" rpy="0 0 0" />
  </xacro:biped_leg> -->

  <!-- O mesmo padrão se aplica para braços e cabeça -->

</robot>