<?xml version="1.0"?>
<robot name="alice_xacro_desc" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Importando os arquivos -->
  <!-- <xacro:include filename="leg.xacro" />
  <xacro:include filename="arm.xacro" />
  <xacro:include filename="head.xacro" /> -->

  <xacro:include filename="up_act_segment.xacro" />
  <xacro:include filename="center_leg.xacro" />
  <xacro:include filename="arms.xacro" />
  <xacro:include filename="head.xacro" />

  <link name="base_footprint"/>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 1.0" rpy="0 0 0" /> 
  </joint>

  <!-- Base do Robô -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh
          filename="package://alice_xacro_desc/meshes/chest.stl" />
      </geometry>
    </visual>
    <inertial>
      <origin xyz="0.01993 0.01512 0.01352" rpy="0 0 0"/>
      <mass value="9.15148"/>
      <inertia
          ixx="0.380681653"
          ixy="-0.003081798"
          ixz="0.045436723"
          iyy="0.247471053"
          iyz="0.013902336"
          izz="0.266646562"/>
    </inertial>
  </link>

  <!-- Instanciando o Braço Esquerdo -->
  <xacro:head parent="base_link">
    <origin xyz="0.05513968 -0.00242679 0.246" rpy="0 0 0" />
  </xacro:head>

  <!-- Instanciando o Braço Esquerdo -->
  <xacro:left_arm parent="base_link">
    <origin xyz="0.03325 0.222 0.152" rpy="0 0 0" />
  </xacro:left_arm>

  <!-- Instanciando o Braço Direito -->
  <xacro:right_arm parent="base_link">
    <origin xyz="0.03325 -0.222 0.152" rpy="0 0 0" />
  </xacro:right_arm>

  <!-- Instanciando a Perna Esquerda -->
  <xacro:up_actuator_segment prefix="l_l" parent="base_link">
    <origin xyz="-0.090 0.1685 -0.245" rpy="0 0 0" />
  </xacro:up_actuator_segment>
    
  <xacro:center_leg prefix="l" parent="base_link">
    <origin xyz="-0.032 0.1075 -0.2365" rpy="0 0 0" />
  </xacro:center_leg>

  <xacro:up_actuator_segment prefix="l_r" parent="base_link">
    <origin xyz="-0.090 0.0465 -0.245" rpy="0 0 0" />
  </xacro:up_actuator_segment>

  <!-- Instanciando a Perna Esquerda -->
  <xacro:up_actuator_segment prefix="r_l" parent="base_link">
    <origin xyz="-0.090 -0.0465 -0.245" rpy="0 0 0" />
  </xacro:up_actuator_segment>

  <xacro:center_leg prefix="r" parent="base_link">
    <origin xyz="-0.032 -0.1075 -0.2365" rpy="0 0 0" />
  </xacro:center_leg>

  <xacro:up_actuator_segment prefix="r_r" parent="base_link">
    <origin xyz="-0.090 -0.1685 -0.245" rpy="0 0 0" />
  </xacro:up_actuator_segment>

  <!-- O mesmo padrão se aplica para braços e cabeça -->

</robot>